.dsc-card {
  border: 1px solid var(--dsc-color-bg-primary);
  border-radius: 10px;
  width: 280px;
  height: 248px;
  text-align: center;
}

.dsc-card img {
  width: 260px;
  height: 195px;
}

.dsc-card h4 {
  color: var(--dsc-color-font-secondary);
  font-size: 16px;
}

.dsc-card-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 25px;
}

@media (min-width: 768px) {
  .dsc-card {
    width: 746px;
    height: 352px;
  }

  .dsc-card img {
    width: 391px;
    height: 292px;
  }

  .dsc-card h4 {
    font-size: 20px;
  }
}
